<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jtslkj"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="14" />

    <permission
        android:name="oem.permission.SENDMAIL"
        android:protectionLevel="normal"></permission>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE">
    </uses-permission>
    <uses-permission android:name="android.permission.CALL_PHONE">
    </uses-permission>
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION">
    </uses-permission>
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE">
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat">
        <activity
            android:name="song.jtslkj.activity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="song.jtslkj.activity.SplashBaseActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity
            android:name="song.jtslkj.activity.LoginActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity
            android:name="song.jtslkj.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity
            android:name="song.jtslkj.activity.BaijiaBudgetActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity
            android:name="song.jtslkj.activity.LoginGestureGuidePasswordActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity
            android:name="song.jtslkj.activity.LoginGestureCreatePasswordActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity
            android:name="song.jtslkj.activity.LoginGestureUnlockPasswordActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity
            android:name="song.jtslkj.activity.BaijiaBudgetAddSingleActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity
            android:name="song.jtslkj.activity.BaijiaBudgetAddBatchActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity
            android:name="song.jtslkj.activity.BaijiaConsumeActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity
            android:name="song.jtslkj.activity.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity
            android:name="song.jtslkj.activity.ImgPreviewActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity
            android:name="song.jtslkj.activity.WojiaSettingContentActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity
            android:name="song.jtslkj.activity.WojiaSettingActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity
            android:name="song.jtslkj.activity.WojiaZujiActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity
            android:name="song.jtslkj.activity.WojiaActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity
            android:name="song.jtslkj.activity.BaijiaConsumeAddActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity
            android:name="song.jtslkj.activity.BaijiaConsumeSearchActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity
            android:name="song.jtslkj.activity.BaijiaConsumeSearchResultActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity
            android:name="song.jtslkj.activity.BaijiaConsumeDetailActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity
            android:name="song.jtslkj.activity.ChijiaWorkAddActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity
            android:name="song.jtslkj.activity.ChijiaWorkDetailActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity
            android:name="song.jtslkj.activity.ChijiaWorkSettleActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity
            android:name="song.jtslkj.activity.ChijiaActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity
            android:name="song.jtslkj.activity.ChijiaIncomeAddActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity
            android:name="song.jtslkj.activity.ImageShowerActivity"
            android:theme="@style/ImageScale"></activity>
        <activity
            android:name="song.jtslkj.activity.GisActivity"
            android:label="@string/device_main_well"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name="song.jtslkj.activity.DeviceActivity" />
        <activity
            android:name="song.jtslkj.activity.DeviceWellActivity"
            android:label="@string/device_main_well"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="song.jtslkj.activity.DeviceWellDetailActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="song.jtslkj.activity.DeviceStaActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />

        <service
            android:name="song.jtslkj.service.NotificationService"
            android:permission="oem.permission.SENDMAIL">
            <intent-filter>
                <action android:name="XJK_SERVICE" />
            </intent-filter>
        </service>
    </application>

</manifest>